<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix lab</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="wrapper-films">
            <div class="wrapper-films_dark">
                <div class="header">
                    <div class="logo">
                    </div>
                </div>
                <main class="main">
                    <div class="movies-subscription">
                        <h1 class="movies-subscription__title">
                            Unlimited movies, TV shows, and more.
                        </h1>
                        <h3 class="movies-subscription__subtitle">
                            Watch anywhere. Cancel anytime.
                        </h3>
                        <form class="email-form">
                            <h3 class="movies-subscription__subsubtitle">
                                Ready to watch? Enter your email to create or restart your membership.
                            </h3>
                            <div class="email-form__box">
                                <input type="text" class="email-form__input" placeholder="Email address">
                                <div class="email-form__btn">Get Started &gt;</div>
                            </div>
                        </form>
                    </div>
                </main>
            </div>
        </div>
        <section class="tv">
            <div class="tv__content">
                <h2 class="tv__content-title">
                    Enjoy on your TV.
                </h2>
                <h3 class="tv__content-subtitle">
                    Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.
                </h3>
            </div>
            <div class="tv__img picture-block">
                <div class="box-video">
                    <video class="video-content" autoplay="" playsinline="" muted="" loop="">
                        <source
                            src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
                            type="video/mp4">
                    </video>
                </div>
            </div>
        </section>
        <section class="watch-offline">
            <div class="watch-offline__img picture-block">
            </div>
            <div class="watch-offline__content">
                <h2 class="watch-offline__content-title">
                    Download your shows to watch offline.
                </h2>
                <h3 class="watch-offline__content-subtitle">
                    Save your favorites easily and always have something to watch.
                </h3>
            </div>
        </section>
        <section class="watch-everywhere">
            <div class="watch-everywhere__content">
                <h2 class="watch-everywhere__content-title">
                    Watch everywhere.
                </h2>
                <h3 class="watch-everywhere__content-subtitle">
                    Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV without paying more.
                </h3>
            </div>
            <div class="watch-everywhere__img picture-block"></div>
        </section>
        <section class="kids-profiles">
            <div class="kids-profiles__img picture-block">
            </div>
            <div class="kids-profiles__content">
                <h2 class="kids-profiles__content-title">
                    Create profiles for kids.
                </h2>
                <h3 class="kids-profiles__content-subtitle">
                    Send kids on adventures with their favorite characters in a space made just for them—free with your
                    membership.
                </h3>
            </div>
        </section>
        <footer class="footer">
            <div class="footer__title"> <a class="questions" href="#">Questions? Contact us.</a>
                <ul class="first-list">
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Help Center</a>
                    </li>
                    <li>
                        <a href="#">Account</a>
                    </li>
                    <li>
                        <a href="#">Media Center</a>
                    </li>
                    <li>
                        <a href="#">Investor Relations</a>
                    </li>
                    <li>
                        <a href="#">Jobs</a>
                    </li>
                    <li>
                        <a href="#">Ways to Watch</a>
                    </li>
                    <li>
                        <a href="#">Terms of Use</a>
                    </li>
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                    <li>
                        <a href="#">Cookie Preferences</a>
                    </li>
                    <li>
                        <a href="#">Corporate Information</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="#">Speed Test</a>
                    </li>
                    <li>
                        <a href="#">Legal Notices</a>
                    </li>
                    <li>
                        <a href="#">Netflix Originals</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>

</html>