* {
    box-sizing: border-box;
}

.box {
  display: flex;
  width: 100wh;
}

.title {
  border: 1px solid black;
  width: 20%;
  padding: 5px;
}

.content {
  border: 1px solid black;
  width: 80%;
  padding: 5px;
}
