* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .wrapper {
    background-color: #222;
    overflow-x: hidden;
  }
  
  .wrapper-films {
    background-image: url(./img/wr_footer.jpg);
    background-size: cover;
  }
  
  .wrapper-films_dark {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.264);
    box-shadow: inset 10px 10px 130px 70px black;
  }
  .header {
    display: flex;
    padding: 30px 60px;
  }
  .logo {
    background-image: url(./img/Netflix_2015_logo.svg);
    background-size: cover;
    width: 170px;
    height: 45px;
  }
  
  .main {
    width: 100%;
    height: 100%;
  }
  
  .movies-subscription {
    max-width: 100%;
    height: 100vh;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .movies-subscription__title {
    max-width: 740px;
    font-size: 4rem;
    text-align: center;
  }
  .email-form__box {
    display: flex;
  }
  .email-form__input {
    height: 60px;
    width: 450px;
    padding: 0 10px;
    color: #222;
  }
  
  .email-form__btn {
    background-color: #e50914;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 214px;
    height: 64px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .email-form__btn:hover {
    background-color: #f73a44;
  }
  
  .movies-subscription__subtitle {
    padding: 15px;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .movies-subscription__subsubtitle {
    padding: 15px;
    font-weight: 500;
    text-align: center;
  }
  .tv,
  .watch-offline,
  .watch-everywhere,
  .kids-profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 8px 0;
    padding: 30px 10px 50px 10px;
  }
  .tv__content,
  .watch-offline__content,
  .watch-everywhere__content,
  .kids-profiles__content {
    width: 37%;
    display: flex;
    flex-direction: column;
    margin: 0 30px;
  }
  
  .tv__content-subtitle,
  .watch-offline__content-subtitle,
  .watch-everywhere__content-subtitle,
  .kids-profiles__content-subtitle {
    margin: 20px 0;
    font-weight: 500;
    font-size: 1.6rem;
    width: 95%;
  }
  
  .tv__content-title,
  .watch-offline__content-title,
  .watch-everywhere__content-title,
  .kids-profiles__content-title {
    font-size: 3.1rem;
  }
  
  .picture-block {
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center;
    width: 35%;
    height: 380px;
    margin: 0 30px;
    z-index: 2;
  }
  .video-content {
    width: 70%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .box-video {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
  }
  
  .tv__img {
    background-image: url(./img/tv.png);
    z-index: 2;
  }
  
  .watch-offline__img {
    background-image: url(./img/mobile-0819.jpg);
  }
  
  .watch-everywhere__img {
    background-image: url(./img/device-pile.png);
  }
  
  .kids-profiles__img {
    background-image: url(./img/kidsProfiles.png);
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 50px 0 30px 0;
    align-items: center;
  }
  
  .footer__title {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
  }
  
  a {
    text-decoration: none;
    color: #757575;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .first-list li {
    list-style-type: none;
    margin: 16px 95px 0 0;
    font-size: 13px;
    cursor: pointer;
  }
  
  .first-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: start;
    margin: 20px 0;
    padding-inline-start: 0;
  }
  
  @media screen and (max-width: 756px) {
    * {
      font-size: 12px;
    }
  
    .email-form__box {
      width: 400px;
    }
  
    .email-form__btn {
      font-size: 1.5rem;
    }
  
    .picture-block {
      margin: 0;
      width: 50%;
    }
  
    .tv__content-title,
    .watch-offline__content-title,
    .watch-everywhere__content-title,
    .kids-profiles__content-title {
      font-size: 2.1rem;
    }
  
    .footer {
      padding: 10px 0;
    }
  
    .first-list li {
      margin: 10px 50px 0 0;
    }
  }
  
  @media screen and (max-width: 460px) {
    * {
      font-size: 10px;
    }
  
    .logo {
      width: 85px;
      height: 23px;
    }
  
    .email-form__box {
      flex-direction: column;
      align-items: center;
    }
  
    .email-form__input {
      height: 40px;
      width: 300px;
    }
  
    .email-form__btn {
      width: 150px;
      height: 40px;
      margin-top: 10px;
    }
  
    .tv,
    .watch-everywhere {
      flex-direction: column;
      padding: 60px 10px;
    }
  
    .watch-offline,
    .kids-profiles {
      flex-direction: column-reverse;
      padding: 60px 10px;
    }
  
    .tv__content,
    .watch-offline__content,
    .watch-everywhere__content,
    .kids-profiles__content {
      width: 80%;
      align-items: center;
      justify-content: center;
    }
  
    .tv__content-subtitle,
    .watch-offline__content-subtitle,
    .watch-everywhere__content-subtitle,
    .kids-profiles__content-subtitle {
      text-align: center;
    }
  
    .tv__content-title,
    .watch-offline__content-title,
    .watch-everywhere__content-title,
    .kids-profiles__content-title {
      text-align: center;
      font-size: 3rem;
    }
  
    .picture-block {
      width: 80%;
      height: 250px;
    }
  
    .video-content {
      width: 68%;
    }
  
    .questions {
      display: none;
    }
  
    .footer {
      padding: 5px 0;
    }
  
    .first-list {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: start;
    }
  
    .first-list li {
      margin: 10px 30px 0 0;
    }
  }
  