* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
  background-color: #222;
  width: 100vw;
  /* height: 100vh; */
}

.wrapper-films {
  background-image: url(./img/wr_footer.jpg);
  background-size: cover;
}

.wrapper-films_dark {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.264);
  box-shadow: inset 10px 10px 130px 70px black;
}
.header {
  display: flex;
  padding: 30px 60px;
}
.logo {
  background-image: url(./img/Netflix_2015_logo.svg);
  background-size: cover;
  width: 170px;
  height: 45px;
}

.main {
  width: 100%;
  height: 100%;
}

.movies-subscription {
 max-width: 100%;
  height: 100vh;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.movies-subscription__title {
 max-width: 740px;
font-size: 4rem;
text-align: center;
}
.email-form__box {
  display: flex;
}
.email-form__input {
  height: 60px;
  width: 450px;
  padding: 0 10px;
}

.email-form__btn {
  background-color: #e50914;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 214px;
  height: 64px;
}

.movies-subscription__subtitle {
  padding: 15px;
  font-size: 1.6rem;
  font-weight: 500;
}
.movies-subscription__subsubtitle {
  padding: 15px;
  font-weight: 500;
}
.tv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  margin-top: 8px;
  padding: 30px 10px;
}
.tv__content {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.tv__img {
  background-image: url(./img/tv.png);
  background-size: cover;
  width: 500px;
  height: 400px;
}

.watch-offline {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  margin-top: 8px;
  padding: 30px 10px;
}

.watch-offline__img {
  background-image: url(./img/mobile-0819.jpg);
  background-size: cover;
  width: 500px;
  height: 400px;
}

.watch-everywhere {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  margin-top: 8px;
  padding: 30px 10px;
}

.watch-everywhere__content {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.watch-everywhere__img {
  background-image: url(./img/device-pile.png);
  background-size: cover;
  width: 500px;
  height: 400px;
}

.kids-profiles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  margin: 8px 0;
  padding: 30px 10px;
}

.kids-profiles__content {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.kids-profiles__img {
  background-image: url(./img/kidsProfiles.png);
  background-size: cover;
  width: 500px;
  height: 400px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 30px;
  align-items: start;
}

.footer__title {
  display: flex;
  flex-direction: column;

  margin: 20px 30px;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
  margin: 10px 30px;
  font-size: 13px;
 }

a {
  text-decoration: none;
  color: #757575;
}

a:hover {
  text-decoration: underline;
}

.first-list {
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr;
}