.wrapper-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.movies,
.state-movies {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 66vh;

  &-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn {
      width: 100px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px white;
      margin: 5px;
      cursor: pointer;
      &:hover {
        color: cadetblue;
        border: solid 1px cadetblue;
        background-color: rgba(0, 0, 0, 0.356);
      }
    }
  }
}

.movie {
  position: relative;
  margin: 5px;
  border: solid 1px white;
  width: 160px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;

  &__title {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
    padding: 3px 0 0 0;
    font-size: 0.9rem;
    height: 35px;
    overflow-y: hidden;
  }

  &__vote {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.55);
    width: 35px;
    height: 35px;
    top: 3px;
    right: 3px;
  }

  &__genre-title {
    display: flex;
  }

  &__original-language {
    margin: 5px;
    color: aquamarine;
  }

  &__release-date {
    margin: 5px;
    color: rgb(186, 204, 122);
  }

  &__overview {
    display: none;
    transition: 1s;
  }

  &:hover {
    border: solid 1px rgb(248, 248, 248);
    transform: scale(1.08);
  }
  &:hover .movie__title {
    color: cadetblue;
  }
}

#show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.615);
  z-index: 999;

  &-overview {
    display: contents;
  }

  &-box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    background-color: #273333;
    text-align: center;
    padding: 20px;
  }
}

.poster {
  width: 150px;
  height: 200px;
}

.btn-disabled {
  pointer-events: none;
  color: gray;
  border: solid 1px gray;
}

.search-box {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__input {
    box-sizing: border-box;
    color: rgb(231, 231, 231);
    height: 38px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.356);
    margin: 10px;
    border: solid 1px gray;
    padding: 0 0 0 10px;
    &::placeholder {
      font-size: 1.5rem;
      color: gray;
    }
  }
}

.sort {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px gray;
  width: 280px;
  height: 35px;
  color: aqua;
  &__title {
    color: gray;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
    color: rgb(231, 231, 231);
    width: 70px;
    height: 25px;
    cursor: pointer;
    &:hover {
      color: cadetblue;
      border: solid 1px cadetblue;
      background-color: rgba(0, 0, 0, 0.356);
    }
  }
}
