* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
  background-color: #222;
  overflow-x: hidden;
}

.testPage {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  font-size: 1rem;
  z-index: 1000;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

// #root {
//   position: relative;
// }
